
        body,
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-family: "robotoregular";
            font-size: 14px;
            line-height: normal;
        }

        section {
            background: #f5f5f5;
        }

        .testimonial-heading {
            font-size: 26px;
            text-align: center;
            line-height: 30px;
            font-family: "pangramregular";
            color: #333333;
            margin: 0;
        }

        .lead {
            font-size: 16px;
            line-height: 20px;
            color: #333333;
            margin: 3px 0 0;
            font-family: monospace;
        }

        .lead {
            margin: 10px 0 15px;
            display: block;
            text-align: center;
            color: #555;
        }

        .rating-box {
            display: inline-block;
            border-top: 1px solid #e5e5e5;
            padding-top: 15px;
            margin-bottom: 8px;
        }

        .rating-box .star-fill {
            display: inline-block;
            margin: 0 2px;
        }

        .rating-box .star-fill:before {
            content: "";
            background: url(https://www.woodenstreet.com/images/home-new1/star.svg) no-repeat;
            width: 20px;
            height: 20px;
            display: block;
        }

        .info {
            margin: 0;
            font-size: 15px;
            line-height: 20px;
            color: #242424;
            font-family: "pangramregular";
        }

        .info span {
            display: block;
            font-size: 13px;
            line-height: 16px;
            color: #515151;
            padding-top: 3px;
        }

        .scroll {
            height: 100px;
            overflow: auto;
            font-size: 20px;
            font-family: cursive;
        }

        .height {
            height: 220px;
        }

        .owl-carousel .owl-item img {
            display: block;
            width: 100%;
            height: inherit;
        }

        ::-webkit-scrollbar {
            width: 3px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: rgb(62, 57, 57);
            border-radius: 10px;
        }
    